# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

##### Objectives:
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List some Data Science Tools
- Arithmetic  Expressions

##### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| **Data Science Tools** |
|:-----------------------|
| JupyterLab             |
| RStudio                |
| GitHub        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(f"200 minutes = {hours} hours")

200 minutes = 3.3333333333333335 hours

## Author
Prajna